/* #region NavBar*/
.active {
    background-color: #0c0c9a;
}
.passive {
    background-color: #18456e;
}
#topNavbar {
    display: inline-block;
    background-color: #1e4f7e;
    overflow: hidden;
    border: 1px solid #17395aa0 ;
    width: auto;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
}
#topNavbar a {
    float: left;
    color: #78fbcf;
    padding: 8px 20px;
    border: 2px solid #083157;
    text-align: center;
    text-decoration: none;
    margin: 3px;
    border-radius: 8px;
}
#topNavbar a:hover {
    color: #07666d;
    background-color: #0da2b0;
}
#topNavbar a:active {
    color: #202020;
    background-color: #e60dc2;
}
/* #endregion comment 2*/

/* #region Body*/

    /* #region bodyelements */
    body {
        background-color: #0f253f;
        margin-top: 40px;
    }
    
    h1 {
        text-align: center;
        color: #00ffff;
        font-size: 400%;
    }
    .header {
        margin-top: 60px;
    }
    h2 {
        text-align: center;
        color: #00ccff;
        font-size: 250%;
    }
    h3 {
        text-align: center;
        color: #00aaff;
        font-size: 200%;
        margin: 20px 20px 0px 20px;
    }

    p {
        text-align: center;
        color: #00cccc;
        font-size: 125%;
    }
    img {
        margin-top: 20px;
        border: solid 4px #007777;
        border-radius: 5px;
    }
    /* #endregion bodyelements */

    /* #region griddy */
    #TexperienceGrid {
        margin-top: -40px;
        grid-template-areas: 
        'header1'
        'paragraph1'
        'image1'
        'header2'
        'image2'
        'paragraph2';
    }
    .griddy {
        display: grid;
        gap: 5px;
        padding: 5px;
    }

    .item1 {
        grid-area: header1;
    }
    .item2 {
        grid-area: paragraph1;
        width: 80vw;
        text-align: center;
        position: relative;
        left: 7.5vw;
        font-size: 100%;
    }
    .item3 {
        grid-area: image1;
        width: 80vw;
        text-align: center;
        position: relative;
        left: 7.5vw;
        border-radius: 30px;
    }
    .item4 {
        grid-area: header2;
    }
    .item6 {
        grid-area: image2;
        width: 80vw;
        text-align: center;
        position: relative;
        left: 7.5vw;
        border-radius: 30px;
    }
    .item5 {
        grid-area: paragraph2;
        width: 80vw;
        text-align: center;
        position: relative;
        left: 7.5vw;
        font-size: 100%;
    }

    #SkillsGrid {
        margin-top: -40px;
        grid-template-areas: 
        'header1'
        'paragraph1'
        'image1'
        'header2'
        'image2'
        'paragraph2';
    }
    .item7 {
        grid-area: header1;
    }
    .item8 {
        grid-area: paragraph1;
        width: 80vw;
        text-align: center;
        position: relative;
        left: 7.5vw;
        font-size: 100%;
    }
    .item9 {
        grid-area: image1;
        width: 80vw;
        text-align: center;
        position: relative;
        left: 5vw;
        border-radius: 30px;
    }
    .imageMath {
        width: 80vw;
        height: auto;
    }
    .item10 {
        grid-area: header2;
    }
    .item11 {
        grid-area: image2;
        width: 80vw;
        text-align: center;
        position: relative;
        left: 7.5vw;
        border-radius: 30px;
    }
    .item12 {
        grid-area: paragraph2;
        width: 80vw;
        text-align: center;
        position: relative;
        left: 7.5vw;
        font-size: 100%;
    }
    /* #endregion Griddy*/

/* #endregion Body*/

/* #region Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: fit-content;
    background-color: #1e4f7e;
    color: white;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 48px;
    height: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #00000088;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.5;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* github */
  .fa-github {
    background-color: #008b8b;
    color: white;
  }

  /* google */
  .fa-envelope {
    background-color: #e92c2c;
    color: white;
  }
  .fa-phone {
    background-color: #83ee00;
    color: white;
  }
  .spacing {
    margin-bottom: 40px;
  }
/* #endregion Footer*/

@media only screen and (min-width: 800px) {
    
/* #region navbar bigscreen*/
    #topNavbar {
        display: inline-block;
        background-color: #1e4f7e;
        overflow: hidden;
        border: 1px solid #17395aa0 ;
        width: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }
    #topNavbar a {
        float: left;
        color: #78fbcf;
        padding: 8px 20px;
        border: 2px solid #083157;
        text-align: center;
        text-decoration: none;
        margin: 3px;
        border-radius: 8px;
    }
/* #endregion navbar bigscreen*/


/* #region body bigscreen*/

    body {
        background-size: 100vw 85vh;
        background-position-x: center;
        background-position-y: 37px;
        background-repeat: no-repeat;
    }
    
    /* #region griddy bigscreen */
    #TexperienceGrid {
        grid-template-areas: 
        'header1 header1'
        'paragraph1 image1'
        'header2 header2'
        'image2 paragraph2';
    }
    .griddy {
        display: grid;
        gap: 5px;
        padding: 5px;
    }

    .item1 {
        grid-area: header1;
    }
    .item2 {
        grid-area: paragraph1;
        width: 50vw;
        text-align: center;
        position: relative;
        left: 5vw;
        font-size: 100%;
    }
    .item3 {
        grid-area: image1;
        width: 30vw;
        text-align: center;
        position: relative;
        left: 0vw;
        border-radius: 30px;
    }
    .item4 {
        grid-area: header2;
    }
    .item5 {
        grid-area: image2;
        width: 40vw;
        text-align: center;
        position: relative;
        left: 5vw;
        border-radius: 30px;
    }
    .item6 {
        grid-area: paragraph2;
        width: 40vw;
        text-align: center;
        position: relative;
        left: 0vw;
        font-size: 100%;
    }

    #SkillsGrid {
        grid-template-areas: 
        'header1 header1'
        'paragraph1 image1'
        'header2 header2'
        'image2 paragraph2';

    }
    .item7 {
        grid-area: header1;
    }
    .item8 {
        grid-area: paragraph1;
        width: 40vw;
        text-align: center;
        position: relative;
        left: 5vw;
        font-size: 100%;
    }
    .item9 {
        grid-area: image1;
        width: 40vw;
        text-align: center;
        position: relative;
        left: 5vw;
    }
    .imageMath {
        width: 30vw;
        height: auto;
    }
    .item10 {
        grid-area: header2;
    }
    .item11 {
        grid-area: image2;
    }
    .item12 {
        grid-area: paragraph2;
    }
    /* #endregion griddy bigscreen */

/* #endregion body bigscreen*/
    

/* #region footer bigscreen*/
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        background-color: #1e4f7e;
        color: white;
        text-align: center;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 192px;
        height: 16px;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        border: 2px solid #00000088;
        margin-top: 3px;
        margin-bottom: 3px;
      }
/* #endregion footer bigscreen*/
}
@media only screen and (min-width: 1100) {
    .item3 {
        font-size: 125%;
    }
}

@media only screen and (max-width: 374px) {
    #topNavbar a {
        float: left;
        color: #78fbcf;
        padding: 6px 10px;
        border: 2px solid #083157;
        text-align: center;
        text-decoration: none;
        margin: 3px;
        border-radius: 8px;
    }
}