.active {
    background-color: #0c0c9a;
}
.passive {
    background-color: #18456e;
}
#topNavbar {
    display: inline-block;
    background-color: #1e4f7e;
    overflow: hidden;
    border: 1px solid #17395aa0 ;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
#topNavbar a {
    float: left;
    color: #78fbcf;
    padding: 8px 20px;
    border: 2px solid #083157;
    text-align: center;
    text-decoration: none;
    margin: 3px;
    border-radius: 8px;
}
#topNavbar a:hover {
    color: #07666d;
    background-color: #0da2b0;
}
#topNavbar a:active {
    color: #202020;
    background-color: #e60dc2;
}

body {
    background-color: #0f253f;
}
    h1 {
        text-align: center;
        color: #00ffff;
        font-size: 300%;
        margin-top: 10vh;
    }
    .inline_paragraph {
        display: inline;
        height: 200px;
        width: 200px;
        overflow: scroll;
    }

